[project]
name = "ml"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "matplotlib>=3.10.7",
    "pandas>=2.3.3",
    "psycopg[binary]>=3.2.12",
    "pytest>=9.0.1",
    "sqlalchemy>=2.0.44",
]
